body{
    margin-top: 100px;
    background-image:linear-gradient(to right,rgb(12, 245, 206),rgb(8, 189, 235));
    display:flex;
    margin:0 auto;
    width:100%;
    flex-direction: column;
    align-items: center;

}
h1{
    color:white;
   font-size:50px;
}
button{
    background-color: white;
    width:150px;
    height: 30px;
    border:0.5px solid black;
    border-radius: 10px;
}